body {
    font-family: Figtree, Outfit, Helvetica, Arial, sans-serif;
}

.form {
    margin: 5rem;
    padding: 10rem;
    background-color: #efefef;
    border-radius: 1rem;
}

.form h2 {
    color: #000000;
}

.form p {
    margin-bottom: 0;
    color: #212121;
}

.form input {
    padding: .5rem;
    border-radius: .25rem;
    border-style: solid;
}

.form input {
    border-color: #
}

.form button {
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
    margin: 1rem;
    color: #fefefe;
    background-color: #434343;
}

.form button:hover {
    background-color: #535353;
}
