body {
    font-family: Figtree, Outfit, Helvetica, Arial, sans-serif;
    background: #ccd5ae;
}

#container {
    display: flex;
}

.form {
    margin: 5rem;
    padding: 5rem;
    background-color: #efefef;
    border-radius: 1rem;
    max-width: 40rem;
}

.form h2 {
    color: #000000;
    font-size: 2rem;
}

.form p {
    margin-bottom: 0;
    color: #212121;
}

.form input {
    padding: .5rem;
    border-radius: .25rem;
    border-style: solid;
    min-width: 60%;
}

.form input:hover {
    border-color: #606c38;
}

.form button {
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
    color: #fefefe;
    background-color: #606c38;
}

.form button:hover {
    background-color: #606c38;
}

.resume {
    position: fixed;
    left: 50%;
    top: 10%;
    bottom: 10%;
    width: 8.5in;
    height: 11in;
    background-color: white;
    filter: drop-shadow(8px 8px 0px #264653);
}

.resume-content {
    padding: 1rem;
}
