body {
    font-family: Figtree, Outfit, Helvetica, Arial, sans-serif;
    background: #ccd5ae;
}

#container {
    display: flex;
}

.form {
    margin: 5rem;
    padding: 5rem;
    padding-top: 4rem;
    background-color: #efefef;
    border-radius: 1rem;
    max-width: 40rem;
}

.form h2 {
    color: #000000;
    font-size: 2rem;
}

.form p {
    margin-bottom: 0;
    color: #212121;
}

.form input {
    padding: .5rem;
    border-radius: .25rem;
    border-style: solid;
    min-width: 60%;
    transition: all 0.3s ease;
}

.form input:hover {
    border-color: #606c38;
}

.form input.date-input {
    min-width: 10%;
    max-width: 20%;
}

.form button {
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
    color: #fefefe;
    background-color: #606c38;
    margin-top: 2rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #a3b18a;
}

.eduexp-separator {
    border-color: #dfdfdf;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.resume {
    position: fixed;
    left: 50%;
    top: 10%;
    bottom: 10%;
    width: 8.5in;
    height: 11in;
    background-color: white;
    filter: drop-shadow(8px 8px 0px #606c38);
}

.resume-content {
    padding: 1rem;
}

@media (max-width: 1694px) {
    .resume {
        display: none;
    }

    #container {
        display: flex;
        justify-content: center;
    }

    .form {
        margin: 5rem 0 5rem 0;
    }
}
